*{
    padding: 0;
    margin: 0;
    font-size: 0;
}
.red{
    height: 100%;
 
    max-width: 1400px;
    margin: 0 auto;
}

header{
    background-color: rgb(201, 141, 30);
    height: 840px;
    width: auto;
}

h1{
    font-size: large;
    color: black;
    
}
